<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">{{ site.title }}</span>
  </a>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="/about">about</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/projects">projects</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/contact">contact</a>
  </nav>
</header>
